.about-hero {
  margin-bottom: 11rem;
}

/* .par-reci {
  font-family: Abuget;
  font-size: 8rem;
  line-height: 0;
  margin-left: 4.25rem;
  color: #ed1c24;
} */

.about-o-nama {
  font-size: 5rem;
  margin-top: -2.9rem;
  margin-left: 4rem;
}

@media (max-width: 1000px) {
  .par-reci {
    display: none;
    /* margin: 0;
    line-height: 1.5;
    font-size: 7rem; */
  }
  .about-o-nama {
    font-size: 6rem;
    margin-top: -4rem;
  }
}

@media (max-width: 768px) {
  .par-reci {
    display: none;
  }
  .about-o-nama {
    /* margin-top: -2.5rem; */
    font-size: 3rem;
    margin-left: 0;
  }
}

/* @media (max-width: 1000px) {
  .contact-text-overlay-h1 {
    font-size: 2rem;
  }
  .contact-text-overlay-h1 span {
    font-size: 3rem;
    padding-left: 0.5rem;
  }
  .overlay-contact-p {
    text-align: center;
    padding: 20px 0.5rem 20px 0.5rem;
  }
  .overlay-contact-p p {
    font-size: 1.2rem;
  }
} */

.pozadina3 {
  position: absolute;
  z-index: -5;
  margin-top: 115rem;
  object-fit: cover;
}
