.about-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 20px;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.images {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
}

@media (min-width: 900px) {
  .about-section {
    flex-direction: row;
  }
  .images {
    align-items: left;
  }
}

@media (max-width: 900px) {
  .images {
    align-items: center;
  }
}

.main-image {
  width: 100%;
  max-width: 600px;
}

.small-image {
  width: 80%;
  margin-top: -9rem;
  margin-left: 3rem;
  max-width: 400px;
  transform: rotate(3deg);
}

.text-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.red-banner {
  position: relative;
  background-color: #e30613;
  color: white;
  padding: 15px 20px;
  font-weight: bold;
  font-size: 25px;
}

.red-banner::before {
  content: "";
  position: absolute;
  left: -300px;
  top: 0;
  bottom: 0;
  width: 300px;
  background-color: #e30613;
  z-index: -1;
}

.text-content p {
  font-size: 22px;
  line-height: 1.6;
  text-align: right;
  padding-right: 7rem;
}

.red-banner-naslov {
  text-align: left;
  /* margin-left: -10rem; */
}

@media (max-width: 1430px) {
  .text-content p {
    padding-right: 0;
  }
}

@media (max-width: 900px) {
  .red-banner::before {
    display: none;
  }
  .text-content p {
    text-align: center;
  }
  .text-content h4 {
    text-align: center;
  }
  .small-image {
    display: none;
  }
}
