.contact-form {
  background-color: white;
  margin: auto;
  padding: 2rem;
  padding-top: 5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.contact-form input,
.contact-form textarea {
  padding: 1.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  width: 100%;
  resize: none; /* zabrani ručno povećavanje textarea */
}

.contact-form button {
  padding: 1rem;
  font-size: 1rem;
  background-color: #da1a21;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #780c10;
}

.contact-form h4 {
  font-size: 1.5rem;
}
