/* Footer.css */
.footer {
  background-size: cover;
  padding: 2rem 0;
  font-family: "Arial", sans-serif;
  color: white;
  width: 100%;
}

.footer-red {
  background-image: url("/footer-background.png");
}

.footer-black {
  background-color: black;
}

.footer-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1rem;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  margin-bottom: 1.5rem;
  padding: 0 1rem;
}

.footer-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.footer-red .logo {
  color: white;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.footer-black .logo {
  color: #da1a21;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.footer-text {
  font-size: 1.2rem;
  margin-bottom: 0.75rem;
  line-height: 1.5;
}

.footer-divider {
  width: 1px;
  background-color: #ddd;
  margin: 0 1rem;
}

.poravnanje-sa-desne {
  text-align: end;
  padding-right: 3rem;
}

.pib {
  padding-top: 2rem;
}

.centriranje-na-sredinu {
  padding-left: 6rem;
}

.spustanje-oba {
  padding-top: 1.2rem;
}

.footer-title2 {
  padding-bottom: 0.7rem;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-divider {
    width: 100%;
    height: 1px;
    margin: 1rem 0;
  }

  .spustanje-oba {
    text-align: center;
  }

  .spustanje-oba p {
    font-size: 1rem;
  }

  .poravnanje-sa-desne {
    padding-right: 1.1rem;
  }

  .footer-title {
    font-size: 1.5rem;
  }

  .centriranje-na-sredinu {
    padding-left: 0.5rem;
    text-align: center;
    display: flex;
    justify-content: center; /* horizontalno centriranje */
    align-items: center;
    flex-direction: column;
  }

  .footer-text-2 {
    font-size: 1rem;
  }

  .logo {
    height: 4rem;
  }
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icons .icon {
  color: white; /* Osnovna boja */
  transition: color 0.3s ease;
}

.social-icons .facebook:hover {
  color: #1877f2; /* Facebook plava */
}

.social-icons .instagram:hover {
  color: #e4405f; /* Instagram pink-crvena */
}

.social-icons .viber:hover {
  color: #665cac; /* Viber ljubičasta */
}

.social-icons .whatsapp:hover {
  color: #25d366; /* WhatsApp zelena */
}

@media (max-width: 768px) {
  .social-icons {
    justify-content: center;
  }
}
